html { 
  background: url('../festie/homepage.JPG') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

button {
  outline: none;
}

img {
  height: 375px;
  width: 300px;
}

div.festival-card {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 5px;

  padding: 25px;
  display: inline-block;
}

.festival-card:hover {
  transform: scale(1.05);
  transition: 0.8s;

}

.festival-card h3:hover, .festival-card img:hover {
  cursor: pointer;
}

div.home-page-card {
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
  margin: 0;
  padding-top: 1%;
  padding-bottom: 50%;
}

.fav-btn {
  border: none;
  outline: none;
}

.festie-header {
  margin-top: 13%;
  padding-bottom: 3%;
  --fill-color: #e279f7;
  font: 1000 Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    
}

.festie-description {
  --fill-color: #e279f7;
  font: 1000 Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  display: inline-block;
 
  padding: 5px;
  
}

.festie-description p {
  font-size: larger;
  font-weight: 600;
}