.menu-container {
    position: relative;
}

.menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}
  
.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
  
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu li {
    /* border-bottom: 1px solid #dddddd; */
}
  
.menu li a {
    text-decoration: none;
    font-size: medium;
    color: #333333;
    padding: 15px 20px;
    display: block;
}

.menu-trigger {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    padding-top: 15%;
    color: white;
  }
  
  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-trigger img {
    border-radius: 90px;
  }