.profile-container {
    display: flex;
    justify-content: space-between;
    
    color: white;
}

.favorites-container {
    align-items: center;
    color: white;
    padding-left: 1.5%;
}

.faved-title {
    color: white;
}

button {
    font-size: 20px;
    border: none;
    background: none;
    color: white;
}

button:hover {
    background-color: lightpink;
    transition: 2s;
}
