.fest-friend-container {
   padding: 5px;
   background: url('../festie/festiefeedalt.jpg') no-repeat center center fixed;
   min-height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.festiefeed-title {
    color: white;
    --fill-color: #e279f7;
    font: 100 Raleway, sans-serif;
      text-decoration:none;
      text-transform: uppercase;
      -webkit-text-stroke: 1.5px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
}

.add-to-feed-btn {
    font-size: 90%;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.add-to-feed-btn:hover {
    background-color: #e279f7;
    transition: 2s;
}

label {
    color: white;
}

.festiefeed-box {
    position: relative;
    top: 100%; 
    left: 50%; 
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.festiefeed-box-container {
    padding-top: 15%;

}