.festie-card-container {
    /* display: flex;
    justify-content: space-between; */
    color: white;
   
}

.fest-friends-container, .festie-profile-container {
    padding: 5px;
    background: url('../festie/fest-friends.jpg') no-repeat center center fixed;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.festie-card {
    display: inline-block;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 10px;
}

.festie-card img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.find-your-festies {
    color: white;
}

.feed-title {
    color: white;
}