.festie-card-container {
    /* display: flex;
    justify-content: space-between; */
    color: white;
   
}

.fest-friends-container, .festie-profile-container {
    padding: 5px;
    background: url('../festie/fest-friends.jpg') no-repeat center center fixed;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.festie-card {
    display: inline-block;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 10px;
}

.festie-card img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.find-your-festies {
    color: white;
}

.feed-title {
    padding-top: 55px;
    color: white;
    --fill-color: #e279f7;
    font: 100 Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
}

/* .festie-profile-container {
    display: flex;
    justify-content: space-between;
} */

.likes-container {
    right: 0px;
    padding-right: -50%;
    /* display: inline-block; */
}

.review-container {
    /* display: inline-block; */
    left: 50px;
    right: 25%;
    margin-top: 100px;
}