.post-card {
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    background-color: aliceblue;
    margin: 10px;
}

.post-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.post-image {
    height: 300px;
    width: 300px;
}